/* INITIALISATION DES MARGES */
* {
    margin: 0;
    padding: 0;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: black;
}

/* POLICES */
@font-face {
    font-family: Raleway;
    src: url(polices/Raleway-Regular.ttf);
}

body {
    font-family: Raleway, Arial, sans-serif;
    width: 90%;
    margin: auto;
}

header {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    padding: 20px 20px;
    font-size: 1em;
}

nav a:hover {
    color:#0065FC;
    border-top: solid 2px #0065FC;
}

section {
    margin: 20px 0px;
}


h1 {
    font-size: 1.2em;
    font-weight: 900;
}

h2 {
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 20px;
}

p {
    font-size: 1em;
}

/* SEARCH */
.search {
    margin-top: 20px;
    display:flex;
}

.search_icon {
    background-color: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 8px 0 0 8px;
    font-size: 0.8em;
    padding: 0.8em;
}

.search_input {
    font-size: 0.8em;
    font-weight: bold;
    border: solid 1px #F2F2F2;
    padding: 0.8em;
}
.search_button {
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    border: solid 1px #0065FC;
    border-radius: 0 8px 8px 0;
    padding: 0.8em;
}

.filter {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.filter_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    min-width: 1.5em;
    font-size: 0.8em;
    border: solid 1px #F2F2F2;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 2em;
    padding: 0.7em;
}

.filter_name {
    margin: 0 3em 0 -3em;
    font-size: 0.8em;
    font-weight: bold;
    border: solid 1px #F2F2F2;
    border-radius: 1.6em;
    padding: 0.8em 0.8em 0.8em 3.6em;
}

